@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: 'Arial', Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android';
}
* {
    margin: 0px;
    padding: 0px;
}
main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 10px;
    position: relative;
    padding-bottom: 50%;
}
div.video iframe {
    display: block;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 3%;
    width: 94%;
    height: 90%;
}
main a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo {
    content: '\1F517';
}
header > h1 {
    padding-top: 30px;
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header > p {
    font-weight: bold;
    font-size: 1.2em;
    max-width: 600px;
    color: white;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header{
    text-align: center;
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));

}


nav {
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    background-color: var(--cor5);
}
nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.3s;
}
nav > a:hover {
    background-color: var(--cor4);
    border-radius: 5px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    background-color:white;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}


main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    color: var(--cor3);
    font-family: var(--fonte-android);
}
main img {
    width: 100%;
}
main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
aside > h3 {
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
    color: white;
    padding: 11px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2705';
    list-style-position: inside;
    columns: 2;
}
footer {
    text-align: center;
    background-color: var(--cor5);
    color: white;
    padding: 7px;
}